language: go
go:
  - tip
before_install:
  - go get golang.org/x/tools/cmd/cover
go_import_path: github.com/pdupub/go-dag
sudo: false
matrix:
  include:
    - os: linux
      dist: xenial
      sudo: required
      go: 1.12.x
      script:
        - GO111MODULE=on
        - go test

    - os: linux
      dist: xenial
      sudo: required
      go: 1.13.x
      script:
        - GO111MODULE=on
        - go test

    - os: osx
      go: 1.13.x
      script:
        - GO111MODULE=on
        - go test
